<div class="container">
	<div class="header-text">
		<span class="nerd">nerd</span><span class="pong">pong</span>
	</div>
	<p class="text">Nerdpong is a project by <a href="http://wildebee.st">Wildebeest</a> to enhance the grestest game on earth, ping pong.  For more information on the future of Nerdpong, take a look at our case study below.</p>
	<%= link_to "view case study", "http://wildebee.st/case-study/nerdpong/", class: "button-center" %>
</div>
