<section data-ng-controller="GamesController" data-ng-init="findOne();">

{{game.bracket}}

{{game.users}}
<br/>

<div role="main" class="brackets main" >

  <div class="rounds-wrapper">

    <div class="round first-round">
      <h3>1st Round</h3>
      <div class="matches-wrapper">
      </div>
    </div>
   
    <div class="round second-round">
      <h3>2nd Round</h3>
      <div class="matches-wrapper">
      </div>
    </div>


    <div class="round final-round">
      <h3>Final Round</h3>
      <div class="matches-wrapper">
      </div>
    </div>


    <div class="round champion">
      <h3>Champion</h3>
      <div class="matches-wrapper">
      </div>
    </div>
  </div>
</div>


<div class="template-player-box" style="display:none;">
      <div class="player-box">
        <ul>
          <li class="player-1">
            <img class="profile-pic" src=""/>
            <p></p>
          </li>
          <li class="vs"></li>
          <li class="player-2">
            <img class="profile-pic" src=""/>
            <p></p>
          </li>
        </ul>
      </div>
</div>


<div class="template-player-winner" style="display:none;">
      <div class="player-box">
      	<ul>
          <li class="winner">
        	<img class="profile-pic" src=""/>
        	<p></p>
       	  </li>
       	</ul>
      </div>
</div>

</section>
