<section data-ng-controller="GamesController" data-ng-init="initGame();">

<!-- config: {{config}} -->

<br/>

<div class="btn start-btn" ng-hide="config.started" ng-click="createBracket();">Start Game</div>

<div role="main" class="brackets main">

  <div class="rounds-wrapper">

    <div class="round first-round">
      <h3>1st Round</h3>
      <div class="matches-wrapper">
      </div>
    </div>
   
    <div class="round second-round">
      <h3>2nd Round</h3>
      <div class="matches-wrapper">
      </div>
    </div>


    <div class="round final-round">
      <h3>Final Round</h3>
      <div class="matches-wrapper">
      </div>
    </div>


    <div class="round champion">
      <h3>Champion</h3>
      <div class="matches-wrapper">
      </div>
    </div>
  </div>
</div>

<div class="template-player-box" style="display:none;">
      <div class="player-box">
        <ul>
          <li class="player-1">
            <img class="profile-pic" src=""/>
            <p></p>
          </li>
          <li class="vs"></li>
          <li class="player-2">
            <img class="profile-pic" src=""/>
            <p></p>
          </li>
        </ul>
      </div>
</div>

<div id="backdrop" style="display:none;"></div>

<div id="modal-match-score" class="player-box" style="display:none;">
  <h3 class="title"></h3>
  <ul class='player'>
    <li class="player-1">
      <img class="profile-pic" src=""/>
      <p></p>
    </li>
    <li class="vs">vs</li>
    <li class="player-2">
      <img class="profile-pic" src=""/>
      <p></p>
    </li>
  </ul>
  <p>FINAL SCORE</p>
  <form id="form-save-score">
    <ul class='scores'>
      <li class="score-1">
        <input type="text" maxlength="2" name="score-1">

      </li>
      <li class="to">to</li>
      <li class="score-2">
        <input type="text" maxlength="2" name="score-2">
      </li>
    </ul>
    <input type="submit" value="Save Score">
  </form>
</div>

<div class="template-player-winner" style="display:none;">
      <div class="player-box">
      	<ul>
          <li class="winner">
        	<img class="profile-pic" src=""/>
        	<p></p>
       	  </li>
       	</ul>
      </div>
</div>

</section>
