<section data-ng-controller="GamesController" data-ng-init="initScroller()">

<div role="main" class="brackets main">
  <div class="rounds-wrapper">

    <div class="round first-round" ng-class="{active: 'derp' == 'derp' }">
      <h3>1st Round</h3>

  
      <div class="player-box" ng-repeat="i in [1,2,3,4,5]">
        <ul>
          <li class="player-1">
            <img class="profile-pic" src="http://pbs.twimg.com/profile_images/578419242246094848/WcYWKW2W_normal.png"/>
            <p>name</p>
          </li>
          <li class="vs">Table X</li>
          <li class="player-2">
            <img class="profile-pic" src="http://pbs.twimg.com/profile_images/578419242246094848/WcYWKW2W_normal.png"/>
            <p>name</p>
          </li>
        </ul>
      </div>
    </div>

   
    <div class="round second-round">
      <h3>2nd Round</h3>
    </div>


    <div class="round final-round">
      <h3>Final Round</h3>
    </div>


    <div class="round champion">
      <h3>Champion</h3>
    </div>
  </div>
</div>





<!-- 	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="game.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="game.user.displayName"></span>
		</em>
	</small>
	<p class="lead" data-ng-bind="game.content"></p> -->
</section>
