body#background {
	background: url(pingpangbg.jpg) no-repeat 50% 50% fixed;
	background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
}
body#background-none {
	background-color: #000;	
	background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	}
body#background-goof {
	background: url(goofbg.jpg) no-repeat 50% 50% fixed;
	background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
}
// Header size
header {
	min-width: 230px;
	padding-bottom: 20px;
}
// Main Header Text
span.nerd {
		font-family: 'Open Sans', sans-serif;
		font-weight: 600;
		font-size: 3.2em;
	}
	.pong {
		font-family: 'Open Sans', sans-serif;
		font-weight: 300;
		font-size: 3.2em;
	}

// Container for mainpage
.twitter-container{
	position: relative;
	top: 30%;
	width: 100%;
	padding-bottom: 255px;
	text-align: center;
	#twit a {
	margin: 0 auto;
	width:90%;

	}
}

#mask {
	width: 500%;
	height: 100%;
}

.header-text{
	text-align: center;
	z-index: -1;

}
.container {
	text-align: center;
	margin-top: 10%;

}
.text {
	width: 50%;
	margin: 15px auto 70px auto;
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
	font-size: 12px;
	a {
		color: #fff;
	}
	a:hover {
		color: red;
	}
}
.button-center {
  text-align: center;
  font-weight: 100;
  font-size: 12px;
  letter-spacing: 2px;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  border: 1px solid #fff;
  color: #fff;
  padding: 20px 40px;
  margin-top: 10px;
  line-height: 60px;
  transition: background 0.3s;
}
@media (max-width: 768px) {
	.header-text {
		position: relative;
		left:10px;
		z-index: -1;
  	}	
}
