body {
	background: url(../../core/img/brand/beerpongbg.jpg) no-repeat 50% 50% fixed;
  	background-size: cover;
  	background-size: cover;
  	color: #fff;
  	font-family: 'Open Sans', sans-serif;
	color: white;
}

.page-header { 
	text-align: center;
	h1 {
	}
	h3 {
	}
}
